/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-family: 'Big Shoulders Stencil Text', cursive;
  height: 200px;
}

.content {
  box-sizing: border-box;
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.left {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.right {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  outline: 0.1px solid black;
  flex: 1;
  box-sizing: border-box;
}

.right .cell:hover {
  background-color: gray;
  cursor: pointer;
}

.occupied {
  outline: 0.1px solid black;
  flex: 1;
  background-color: darkslategrey;
}

.hit {
  background-color: rgb(255, 79, 79);
  pointer-events: none;
}

.miss {
  background-color: lightgreen;
  pointer-events: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.placement {
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50rem;
  width: 40rem;
  box-sizing: border-box;
  padding: 3rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placement p:first-child {
  font-size: 2.5rem;
  font-family: 'Big Shoulders Stencil Text', cursive;
}

.placement p:nth-child(2) {
  font-size: 2rem;
}

.placement span {
  text-decoration: underline;
}

.placer {
  height: 30rem;
  width: 30rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.rotate {
  height: 3rem;
  width: 7rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: black;
  cursor: pointer;
}

.rotate:hover {
  transform: scale(1.03)
}

.placerCell {
  background-color: aquamarine;
  cursor: pointer;
}

.errorCell {
  background-color: red;
  cursor: pointer;
}

.gameOver {
  height: 25rem;
  width: 30rem;
  background-color: white;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winner {
  font-size: 5rem;
}

.playAgain {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.playAgain:hover {
  border: 1px solid black;
}

footer {
  height: 30px;
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}
